@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DEXTER</h1>
    <p class="lead">Nuestro proyecto esta enfocado a que nuestros clientes puedan organizar de forma eficiente sus ingresos y egresos</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>¿Que Deseamos?</h2>
        <p>
            Nuestra solución plantea un proceso ágil en la organización del flujo de dinero de nuestros usuarios lo cual nos dará una ventaja competitiva con respecto a nuestros mayores similares dentro de la industria que aún carecen de este servicio nosotros nos abrimos ante un gran público que carece de cultura financiera y que brindará a estos eficiencia en el manejo de su dinero lo cual llevará a que puedan disfrutar de su vida
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Obtén mejores enfoques</h2>
        <p>Por medio de nuestra Aplicacion Web puedes verificar como estas gestionando tu dinero, mostrandote además posibles alternativas para ahorrar y no llegar al final del mes tan ajustado.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Nosotros</h2>
        <p>Somos un grupo enfocados en hacer que nuestros clientes se sientan satisfechos con nuestra app</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>