
@{
    ViewBag.Title = "Index";
}


<div class="row">
    <form id="frm">
        <div class="col-lg-6 col-lg-offset-4">
            Usuario
            <input type="text" name="user" />
            Password
            <input type="password" name="password" />
            <input type="submit" class="btn btn-success" value="Entrar" />
        </div>
    </form>
</div>


@{ 
    //razor -> se puede incluir codigo c#
    //se puede agregar variable, funcionalidades
}
@section scripts
{
<script>
    $(document).ready(function () {

        $("#frm"). submit(function (e) {
            e.preventDefault();

            //ingresa a la raiz -> Access -> Enter
            //el metodo se va a llamar Enter en Access
            url = "@Url.Content("~/Access/Enter")"
            //this = #frm
            //serialize = te entrega los atributos serializados , listo
            parametros = $(this).serialize();

            $post(url, paramentros, function (data){

                if (data == "1") {
                    //se manda a una ruta en especifico, el index
                    document.location.href = "@Url.Content("~/")";
                }
                else
                    alert(data)
            })
        })
    })
</script>
}
